body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #4caf50;
  padding: 20px;
  color: white;
}

.App-content {
  padding: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  background-color: #0d5260;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  .button-container {
    flex-direction: column;
  }

  .button {
    margin: 10px 0;
  }
}

.nav-link {
  text-decoration: none;
}

